.btn {
    max-width: 125px;
    min-width: 125px;
    padding: 16px 32px;
    background-color: var(--accent);
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 4px;
    margin: 36px auto 0 auto;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    &.white {
        background-color: #fff;
        border: 1px solid var(--accent);
        color: var(--black);
    }
}